language: java - openjdk11
services:
- docker
branches:
  only:
  - master
  - dev
  - cicd

# env:
#   global:
#     secure: IMAGE_NAME
#     secure: HEROKU_API_KEY
#     secure: DOCKER_USER
#     secure: DOCKER_PASS

env:
  global:
  - secure: xT3vEQz5cPxmtTrEEeiUNiWkXR89RiVGjP8gZjmS3mAT78R6gMKq+xeACWqzKdEuPCtCet2Ye9Uytm5q83dvakcSMzyYnBb+rwmCuzsxBw7FtCrJ8lkmpbGh09PA8Tx4XkYh0ZM7Wifc4zzSHDgcbf9SSiD76tKBdyUW3/X6/DtdkqZf9l9Qlr+SH06IPcYQs13DiLJA41whnW57bLLI41lIoeB7t07LTAn0tP7VCIURt6YTXxJOQAHz1B4pIeH0+qzHehivCSmZa+rw45Bke473LZ8Nf5IpLM84AW6gzLwurfCYTDyw4kKFuN3EY/sidH+EgiiLcqEnylSU8WCJQDY2vD4k3DTd/IruIIHZ9IygEujUHfUI2bHiKF7TdkXsgRa+LyMUFL9LENgmdRkV2XLXg0rc4xsuxTy6j0rnGBvfXmtDJ2M/hu4bXG85t4moMYLAWFo3X7wslb/gRnEOQ5GaIMc6V4sEpSSqHG+a2c8XxBz9B37n1ZfkRY6Zhc4KCOnjZ6tH7e+1f6zgAImFW4y04xUK6n8aNczoF4P+20L78p25Fetylrfty5IDcY+qetM6MjRCOtOAwi1qAm7/gBOQOsQICDqlBOICOsex7jlVM2oDEh2ItYbyoPteO/UbZhFh61BUjX8iOI48VW3hbXip4yUbsPt0yLcAd5xlye4=
  - secure: aK2qlBxBtXoVQwgcxOCMwv8WOj9IRW66JV95YkbFsTXeNNRR4HmxKcUHKwASgodHetSQQL+Ljqz85u9Nttf6saGN+lSD52hKH0bcj+s1ZnqxmBadp9B02CXAuS6yvnWbtLn4yFmpQjUXwzFHAYoIFOwlK5LRj/JUqO67vts9PB+xySa2NVFZh1bYZCEvOQfOyujFpzDI4u4Yoe8FiJZPVy1WzEULxv6tW3fh8JHtK/Q3FTp904qrZwI0rD5MF6GaMuaG+G7Gm1U9ixEFD2ysGEPqYDwXFsP8tbEZb2BUWcQrMhwigCgAToVODFMGR7hpCbfrHre1PFY0+x2QaC/AxTz9eXiJDJw0HURpon2YM6kX+rIMnlW1Rf+6LmgBtIvNTI7pIm+eQ67JiHdlZD0XthAuKEkObKG7rq5snIrHVQh8zjihQ20V5nOwljApTrGmCxWNUzw7g8BJy06G6xmDPCHOuEMWMdT3IdfBNt6+Gjt1uXSJvNRXd2x1pB8TyVVOTdbQhW5qSkNoOCHfyK7SWF2SnJJzKj0BTBRevxIzuZrAbAFQS/oJPfK+VCGMGOU1h2RROF8YoawCKR6P/P3ZxAkQybdQ0ASB3HgkltDmGmA7A4q6oFBY9iZabOBvLpjrNCo7Qrz9xzNhApsePE8lS7r0x0XBiLKIg518HkFgJcU=
  - secure: B/2ZvB6RcHhcDbPYa70euttPk3Imv1Wt7fRw/bBiySbiYZJInpv7tHFkElDG8OLGMRNb79ZdMvB5VxG0LhjPE13rtQL0N/KKFJIjyuUOMxkrvR2SoLFxUju8N7612N2Uy4hV78q/LIj64ZnuHGEgHeulWQUeIxzHSjup2e8o+A1ceDmtbMVPp8iaWP8EAW2nkvCyKX+eUj20+yk+DD74kLWhJHQgwnJQjworxGEk2F5t1fFzy8vGcPu6pjO6EWkzmSSx/EjxQKd5AkGDXMVcWtUQ4hCFSOBz9VIPwZkEj3oyg/UIk7JMPIidlBPha8mTS3hF9uWfkPpZXDuaXRt99ijBi7Zl9vwCY26rCyjPaNnu5nkL0ISD+/Wbp+pOwbB7RrD0Kg9FtAiPQrdJlcRCni4nAIhrqRp4s4eBb9RvR5ES94Q50aKu7Kj4a4J8pV2JC+W3gMdb8Ylp6wifMbcr/E51HRXoO1IKYyPliH5U+8PdtYNCxOotKU1CPUw5nDNrohx9f7oAhbqOAeuOwGO1AaDrEhtEvuDLwSa6PN+9IHEvPKd85mNjco5O0sFCuKR8y90oz6MZwHMAaCOOZ0ixxPlyO+nYZGdUDPGP8HrJz5tu8Tqki+bzSzxK/U3o6lXyjCGXWyeCYG2d6Q92+gfr8KZJeS8fsYAg1cIVuRnblp0=
  - secure: n54l1fNLjWs4IRxH6DqBhqr9MuxwOn6s2pI3s8yQVtKTbFUVA4qypeodGq2lZYNBvw5ki9vIKOnvmJBvmjIWs04l/GQ26KYZK2k+p4KyOoLWhl2NTf3NT3jDwlrZqarEHdTSmXsOLJ2Ezd0fZzI7rZQW22hQPeW4qV2X9wxCwCVCB0hEJC2cFGflP6e2+nokpzmes30A6Vp/aSiOD4c1qmuDydytF3RW0ec5NHOVsc1WSTkCnDH7rLN0xK61WNPTsLbMmwqEhNFudJuzQWVOwdZLbxYzArShO8WQX21kFINPeodOYj4nSculmhAwNq/unt8Wpbh5QA8SJxs4SQZeBFrMbN34xOJnHAScFbniFe/8cVRA+zpqlzssxzSzmXpvvSRb9ZbC+Y5d2IJLyq9ct4x08Mo468LypAqKNPvYqw/y+iCzka8aM6RI4O6ATxc3lIJPWVRThCPQDDSpw9+aGGD/YFU8dItd48AFOZPJBHQAzHi5scr5lVZ47YmwjDNKfY/+y1rWW+W7wov/64K73kY76PAuFuHFQ1RliyjzemUFC2+7KfQ223e4UE7eCGrqW9TalKzpCqZt6CNbmx0lVBzxERBIzYY7eAF3pgFa3TpFT4+Y2gYjtLUk5w1AhCZI9+V2Nyu6kd9+n7+M0cDX4lnqkuGUWo/0d03JSZPDjSk=

before_script: cd api

before_install:
  - docker pull openjdk:11-jre-alpine

# Test & Build SpringBoot app
script:
  - mvn test
  - mvn clean package

# Create Docker image for our app and push it to Dockerhub repository and send messages to the Teams channel after the `script` job is successfully executed
after_success:
  - export COMMIT=${TRAVIS_COMMIT::7}
  - export TAG=`if [ ! -z "$TRAVIS_TAG" ]; then echo "$TRAVIS_TAG"; else echo "$TRAVIS_BRANCH--$COMMIT"; fi`
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker-compose build
  - docker tag $IMAGE_NAME:latest $IMAGE_NAME:$TAG
  - docker push $IMAGE_NAME:$TAG 

# Allow Travis to help deploy the app on Heroku
deploy:
  provider: heroku
  api-key:
    secure: "$HEROKU_API_KEY"
  app: wme-rest-api-java
  on:
    tags: true
    repo: "$IMAGE_NAME" 
 