language: java
jdk:
    - oraclejdk11

branches:
    only:
        - master
        - dev
        - cicd

before_script: cd api

script:
    - ./mvnw clean install

deploy:
 provider: heroku
 api-key: 
  secure: "aK2qlBxBtXoVQwgcxOCMwv8WOj9IRW66JV95YkbFsTXeNNRR4HmxKcUHKwASgodHetSQQL+Ljqz85u9Nttf6saGN+lSD52hKH0bcj+s1ZnqxmBadp9B02CXAuS6yvnWbtLn4yFmpQjUXwzFHAYoIFOwlK5LRj/JUqO67vts9PB+xySa2NVFZh1bYZCEvOQfOyujFpzDI4u4Yoe8FiJZPVy1WzEULxv6tW3fh8JHtK/Q3FTp904qrZwI0rD5MF6GaMuaG+G7Gm1U9ixEFD2ysGEPqYDwXFsP8tbEZb2BUWcQrMhwigCgAToVODFMGR7hpCbfrHre1PFY0+x2QaC/AxTz9eXiJDJw0HURpon2YM6kX+rIMnlW1Rf+6LmgBtIvNTI7pIm+eQ67JiHdlZD0XthAuKEkObKG7rq5snIrHVQh8zjihQ20V5nOwljApTrGmCxWNUzw7g8BJy06G6xmDPCHOuEMWMdT3IdfBNt6+Gjt1uXSJvNRXd2x1pB8TyVVOTdbQhW5qSkNoOCHfyK7SWF2SnJJzKj0BTBRevxIzuZrAbAFQS/oJPfK+VCGMGOU1h2RROF8YoawCKR6P/P3ZxAkQybdQ0ASB3HgkltDmGmA7A4q6oFBY9iZabOBvLpjrNCo7Qrz9xzNhApsePE8lS7r0x0XBiLKIg518HkFgJcU="
 app: wme-rest-api-java
 on:
    branch: cicd