language: java
jdk:
    - oraclejdk11

branches:
    only:
        - master
        - dev
        - cicd

before_script: cd api

script:
    - ./mvnw clean install

deploy:
 provider: heroku
 api-key: 
  secure: ${HEROKU_API_KEY}
 app: wme-rest-api-java
before_install:
    - cd api
    - chmod +x mvnw