language: java 
jdk: 
    - openjdk11
script:
    - ./mvnw clean install -X
branches:
  only:
  - master
  - dev
  - cicd

deploy:
  provider: heroku
  api-key:
    secure: "gbSZlShUFxDK8PnA4KC7ozbXO/6/tPmWun6A8Q/nduQOFOEgs++vvl84k/0OtHP+aWzunf7HfR+0bsGHiZSWzpxj7ftpVGpHBXCIxsHbAxiFOLuTumA56yYFs8cETTChXqI568ZwtUbzx6RdSNv2afECzC+VKM9mRTacctVYpoksGTuy0a/BHWxlImtVTONdXXjoqcqE3Xm3hKmiEQiXuXRIzD9ytEhWOx5g5/HTp94GlQ5rs+tjOVwTQDC6UkCETqR3XZds5grqptSGk3JxmiLyeRZqFPNzzuzt0gnVTVEvXQ6aFqMn2zLO4EoOVnH57KczgCBSupJH7lD4jAh1F2fBweNr8vNoxTIspd5A8jFFPuOdYoOVcRcqAq6fzWx/l+2q6j9TDG1acMcgVlNe3OgLJHjuexPRiuP9abRkKKHc8YOrr6ymEk5u3tgfhwuM4jfYaB29EFY2FCAw9MRZWM0gDmrlcX1dgF6aMLDFPCsmZFdjIGmeDbpPfrzSUHazxzVheZq7N8WdkYZ/8hCfNZ6BRlgIqCBH3K6A6B27tQcr3Z8En+82pWYwsV2eJQ/S91sL1+QMOmBZFS9vPPJnXbbEkSJ+Re6tgmvs33+6UafTHvs5mV12/oas6glbsqYXBC+YRdqfA+55gGf7KNgVC7JwI/btdqV6tw+NvjBPyu0="
  app: wme-rest-api-java
  on:
    all_branches: true